body {
	background-color: #53696d;
	text-align: center;
	border-style: solid;
	border-color: #efeede;
	margin: 0.2%;
}

img {
	width: 40%;
	height: 40%;
}

.chloe {
	margin: 2%;
}

.polar {
	margin: 2%;
}